In [1]:
def f_to_c(temp):
    return (temp - 32) * (5/9)
def mph_to_kmph(kmph):
    return kmph*1.609

# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
import time


# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_df = pd.read_csv("../WeatherPy/output_data/cities.csv")
weather_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Ust-Maya,0,RU,1580243149,97,60.42,134.53,-37.91,0.50
1,1,Kapaa,1,US,1580242946,68,22.08,-159.32,26.00,1.69
2,2,Esperance,90,AU,1580242946,100,-33.87,121.90,19.00,3.60
3,3,Lososina,27,RU,1580243153,94,49.00,140.31,-12.79,3.60
4,4,Rincon,20,US,1580243154,36,32.30,-81.24,17.22,4.10
...,...,...,...,...,...,...,...,...,...,...
561,561,Sidi Ali,2,DZ,1580248478,84,36.10,0.42,9.56,1.20
562,562,Humaita,100,BR,1580248479,95,-7.51,-63.02,26.27,0.84
563,563,Wawa,44,NG,1580248480,22,9.90,4.42,27.54,2.63
564,564,Vaitape,99,PF,1580248481,75,-16.52,-151.75,28.29,5.11
565,565,Santa Maria,100,BR,1580248482,62,-29.68,-53.81,29.00,4.10

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
locations = weather_df[["Lat", "Lng"]].astype(float)
humidity = weather_df["Humidity"].astype(float)

In [6]:
fig = gmaps.figure()

humidity_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(humidity_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# A max temperature lower than 80 degrees but higher than 70.

# Wind speed less than 10 mph.

# Zero cloudiness.



weather_df.dtypes

narrow_weather_df = weather_df.loc[(weather_df["Max Temp"] < f_to_c(80)) 
                                   & (weather_df["Max Temp"] > f_to_c(70)) 
                                   & (weather_df["Wind Speed"] < mph_to_kmph(10)) 
                                   & (weather_df["Cloudiness"] == 0),:]
narrow_weather_df = narrow_weather_df.dropna()
narrow_weather_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
25,25,Saint-Pierre,0,RE,1580243177,78,-21.34,55.48,22.22,2.60
39,39,Broken Hill,0,AU,1580243192,28,-31.95,141.43,23.00,4.60
64,64,East London,0,ZA,1580242953,58,-33.02,27.91,21.53,3.68
76,76,Adrar,0,MR,1580243236,20,20.50,-10.07,24.56,5.71
93,93,Guerrero Negro,0,MX,1580243258,27,27.98,-114.06,22.97,5.06
100,100,Edd,0,ER,1580243265,56,13.93,41.69,25.68,3.84
104,104,Carnarvon,0,AU,1580243269,94,-24.87,113.63,24.00,8.70
115,115,Tessalit,0,ML,1580242984,13,20.20,1.01,23.23,3.95
135,135,Chui,0,UY,1580243303,53,-33.70,-53.46,24.74,4.21
273,273,Hukuntsi,0,BW,1580246636,18,-24.00,21.75,24.97,0.78
298,298,Nouakchott,0,MR,1580246657,9,18.09,-15.98,25.00,3.60
309,309,Inhambane,0,MZ,1580246809,64,-23.86,35.38,24.83,4.90
391,391,Iquique,0,CL,1580248150,57,-20.22,-70.14,26.00,7.70
447,447,Victor Harbor,0,AU,1580248346,56,-35.57,138.62,24.44,1.00
463,463,Atar,0,MR,1580248364,16,20.52,-13.05,25.16,5.11
497,497,Celestun,0,MX,1580248404,77,20.87,-90.40,24.07,3.27
521,521,Barranca,0,PE,1580248431,87,-10.75,-77.77,22.70,4.33
531,531,Damnoen Saduak,0,TH,1580248441,77,13.52,99.95,22.22,2.08
538,538,Sokolo,0,ML,1580248449,4,14.73,-6.12,24.99,4.49
542,542,Paoua,0,CF,1580248453,21,7.24,16.44,21.45,1.65
552,552,Kembe,0,CF,1580248467,29,4.62,21.89,21.92,0.29

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
hotel_df = narrow_weather_df

In [9]:
hotel_df["Hotel Name"] = ""

In [11]:
base_url_hotel = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params_hotel = {
    "location": "",
    "radius" : 5000,
    "type": "lodging",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params_hotel["location"] = f"{lat},{lng}"
    
    response_hotel = requests.get(base_url_hotel, params=params_hotel).json()
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = response_hotel['results'][0]['name']
        
    except:
        print(f'Missing Hotel for city: {hotel_df.loc[index, "City"]}')

hotel_df

Missing Hotel for city: Adrar
Missing Hotel for city: Edd
Missing Hotel for city: Tessalit
Missing Hotel for city: Sokolo
Missing Hotel for city: Kembe

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
25,25,Saint-Pierre,0,RE,1580243177,78,-21.34,55.48,22.22,2.60,Lindsey HÃ´tel
39,39,Broken Hill,0,AU,1580243192,28,-31.95,141.43,23.00,4.60,Daydream Motel & Cottages
64,64,East London,0,ZA,1580242953,58,-33.02,27.91,21.53,3.68,Tu Casa
76,76,Adrar,0,MR,1580243236,20,20.50,-10.07,24.56,5.71,
93,93,Guerrero Negro,0,MX,1580243258,27,27.98,-114.06,22.97,5.06,"Casa Laguna, Bed & Breakfast"
100,100,Edd,0,ER,1580243265,56,13.93,41.69,25.68,3.84,
104,104,Carnarvon,0,AU,1580243269,94,-24.87,113.63,24.00,8.70,Hospitality Carnarvon
115,115,Tessalit,0,ML,1580242984,13,20.20,1.01,23.23,3.95,
135,135,Chui,0,UY,1580243303,53,-33.70,-53.46,24.74,4.21,Nuevo Hotel Plaza
273,273,Hukuntsi,0,BW,1580246636,18,-24.00,21.75,24.97,0.78,SHI Hotel
298,298,Nouakchott,0,MR,1580246657,9,18.09,-15.98,25.00,3.60,HÃ´tel Iman
309,309,Inhambane,0,MZ,1580246809,64,-23.86,35.38,24.83,4.90,MHL Turismo SA
391,391,Iquique,0,CL,1580248150,57,-20.22,-70.14,26.00,7.70,Backpacker`s Hostel Iquique
447,447,Victor Harbor,0,AU,1580248346,56,-35.57,138.62,24.44,1.00,Apollon Motor Inn
463,463,Atar,0,MR,1580248364,16,20.52,-13.05,25.16,5.11,Oumou Elghoura
497,497,Celestun,0,MX,1580248404,77,20.87,-90.40,24.07,3.27,Posada Lilia
521,521,Barranca,0,PE,1580248431,87,-10.75,-77.77,22.70,4.33,El Olivar Hospedaje
531,531,Damnoen Saduak,0,TH,1580248441,77,13.52,99.95,22.22,2.08,Maikaew Damnoen Resort
538,538,Sokolo,0,ML,1580248449,4,14.73,-6.12,24.99,4.49,
542,542,Paoua,0,CF,1580248453,21,7.24,16.44,21.45,1.65,Quartier Paoua Elien
552,552,Kembe,0,CF,1580248467,29,4.62,21.89,21.92,0.29,

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations,info_box_content = hotel_info)
fig.add_layer(marker_layer)
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))